@tailwind base;
@tailwind components;
@tailwind utilities;

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
#happyVideo {
    position: relative;
     min-height: 100%;
    /* bottom: 0; */
    /* min-width: 50%;
   
    z-index: 0; */
  }
#seamVideo {
    position: relative;
     min-height: 100%;
    /* bottom: 0; */
    /* min-width: 50%;
   
    z-index: 0; */
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
  }
  #trend{
    top: 30%;
    right: 30%;
    left: 5%;
    /* color: #D2691E; */
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 80%;
    display: grid;
    grid-template-rows: 2fr 1fr;
  }
  #seam{
    top: 41%;
    right: 30%;
    left: 5%;
    /* color: #D2691E; */
    color: black;
    opacity: 80%;
    display: grid;
    grid-template-rows: 2fr 1fr;
  }

  #cloth-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 40px 130px 20px 130px;
  }

  .cloth-img {
    border-radius: 4px;  /* Rounded border */
  }
  
  /* Add a hover effect (blue shadow) */
  .cloth-img:hover {
    box-shadow: 0 0 2px 1px ;
  }

#happy{
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  background-blend-mode: overlay;
}

#footer{
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: 30px;
}
  /* Style the button used to pause/play the video */
  /* #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  } */

  @media only screen and (max-width: 900px) {
    #trend{
      position: relative;
      background: #ffffff;
      color: black;
      opacity: 100;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    #footer{
      display: flex;
      flex-direction: column;
    }
    #happy{
      display: unset;
    }
  }